/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Engplot';
    src: 'assets/fonts/Engplot.TTF';
}

.engplot {
    font-family: 'Engplot', sans-serif;
}

p {
    font-family: 'Engplot', sans-serif;
}